html, body {
    margin: 0px;
    background-color: #4DB55C;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

h1{
    font-size: 50px;
}

.btn{
    width: 150px;
    height: 40px;
}





.caja-cartas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 275px;
    padding: 15px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
}


.cartas{
    position: relative;
    width: 120px;
    left: 75px;
    margin-left: -60px;
}


#computador-cartas, #jugador-cartas{
    height: 180px;
}










#caja-instrucciones{
    color: white;
    font-size: 14px;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

ul>li{
    text-align: left;
    margin: 5px;
}

#instruccionesBotones,
#instruccionesGanar,
#instruccionesPerder{
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(3, 115, 115);
}
